# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next/
out/
build/
dist/

# Env
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Testing
coverage/
playwright-report/
test-results/
